@import 'tailwindcss';

:root {
  --gray-scale-black: #000000;
  --gray-scale-gray-5: #f5f5f5;
  --gray-scale-gray-10: #e0e0e0;
  --gray-scale-gray-20: #c8c8c8;
  --gray-scale-gray-30: #bcbcbc;
  --gray-scale-gray-40: #adadad;
  --gray-scale-gray-50: #999999;
  --gray-scale-gray-60: #7c7c7c;
  --gray-scale-gray-70: #666666;
  --gray-scale-gray-80: #4e4e4e;
  --gray-scale-gray-90: #333333;
  --gray-scale-gray-95: #1a1a1a;
  --gray-scale-white: #ffffff;

  --orange-scale-orange-1: #fff4f1;
  --orange-scale-orange-10: #ffd6cc;
  --orange-scale-orange-20: #ffbaa9;
  --orange-scale-orange-30: #ff957b;
  --orange-scale-orange-40: #ff724e;
  --orange-scale-orange-5: #ffe7e2;
  --orange-scale-orange-50: #ff4805;
  --orange-scale-orange-60: #e83600;
  --orange-scale-orange-70: #d03800;
  --orange-scale-orange-80: #b93100;
  --orange-scale-orange-90: #9a2900;
  --orange-scale-orange-95: #561700;

  --system-background: #fcfbfa;
  --system-dim: #0000004d;
  --system-safe: #aad800;
  --system-safe-alt: #eaffbd;
  --system-warning: #ff4040;
  --system-warning-alt: #ffd9d9;
}

@theme {
  /* 폰트 */
  --font-pretendard: var(--font-pretendard);

  /* 색상 */
  --color-gray-scale-black: var(--gray-scale-black);
  --color-gray-scale-gray-5: var(--gray-scale-gray-5);
  --color-gray-scale-gray-10: var(--gray-scale-gray-10);
  --color-gray-scale-gray-20: var(--gray-scale-gray-20);
  --color-gray-scale-gray-30: var(--gray-scale-gray-30);
  --color-gray-scale-gray-40: var(--gray-scale-gray-40);
  --color-gray-scale-gray-50: var(--gray-scale-gray-50);
  --color-gray-scale-gray-60: var(--gray-scale-gray-60);
  --color-gray-scale-gray-70: var(--gray-scale-gray-70);
  --color-gray-scale-gray-80: var(--gray-scale-gray-80);
  --color-gray-scale-gray-90: var(--gray-scale-gray-90);
  --color-gray-scale-gray-95: var(--gray-scale-gray-95);
  --color-gray-scale-white: var(--gray-scale-white);

  --color-orange-scale-orange-1: var(--orange-scale-orange-1);
  --color-orange-scale-orange-5: var(--orange-scale-orange-5);
  --color-orange-scale-orange-10: var(--orange-scale-orange-10);
  --color-orange-scale-orange-20: var(--orange-scale-orange-20);
  --color-orange-scale-orange-30: var(--orange-scale-orange-30);
  --color-orange-scale-orange-40: var(--orange-scale-orange-40);
  --color-orange-scale-orange-50: var(--orange-scale-orange-50);
  --color-orange-scale-orange-60: var(--orange-scale-orange-60);
  --color-orange-scale-orange-70: var(--orange-scale-orange-70);
  --color-orange-scale-orange-80: var(--orange-scale-orange-80);
  --color-orange-scale-orange-90: var(--orange-scale-orange-90);
  --color-orange-scale-orange-95: var(--orange-scale-orange-95);

  --color-system-background: var(--system-background);
  --color-system-background-alt: var(--system-background-alt);
  --color-system-dim: var(--system-dim);
  --color-system-safe: var(--system-safe);
  --color-system-safe-alt: var(--system-safe-alt);
  --color-system-warning: var(--system-warning);
  --color-system-warning-alt: var(--system-warning-alt);

  --color-key-color-primary: var(--orange-scale-orange-50);
  --color-key-color-quaternary: var(--gray-scale-black);
  --color-key-color-secondary: var(--orange-scale-orange-10);
  --color-key-color-tertiary: var(--orange-scale-orange-95);

  --color-system-background-alt: var(--gray-scale-white);
  --color-system-background-inactive: var(--gray-scale-gray-5);

  --color-background-gray: var(--gray-scale-gray-5);
  --color-background-inactive: var(--gray-scale-gray-10);
  --color-background-orange: var(--orange-scale-orange-1);

  --color-text-inactive: var(--gray-scale-gray-30);
  --color-text-main: var(--gray-scale-gray-95);
  --color-text-sub1: var(--gray-scale-gray-80);
  --color-text-sub2: var(--gray-scale-gray-60);
  --color-text-reversed-main: var(--gray-scale-white);
  --color-text-reversed-sub1: var(--gray-scale-gray-5);
  --color-text-reversed-sub2: var(--gray-scale-gray-20);
  --color-line-line1: var(--gray-scale-gray-10);
  --color-line-line2: var(--gray-scale-gray-30);
  --color-line-line3: var(--gray-scale-black);
  --color-line-primary: var(--key-color-primary);
  --color-line-secondary: var(--key-color-secondary);

  --color-ring: var(--orange-scale-orange-50);

  --spacing-header-height: 76px;
  --spacing-sidebar-width: 260px;
  --spacing-grid-margin: 20px;

  /* 브레이크포인트 */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1280px;

  /* 애니메이션 */
  --ease-out-quart: cubic-bezier(0.65, 0, 0.35, 1);
}

/* 타이포그래피 */
@utility font-title-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -4%;
}

@utility font-title-normal {
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -4%;
}

@utility font-headline1-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -4%;
}

@utility font-headline1-normal {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -4%;
}

@utility font-headline2-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -4%;
}

@utility font-headline2-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -4%;
}

@utility font-body1-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -4%;
}

@utility font-body2-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -4%;
}

@utility font-body2-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -4%;
}

@utility font-label-heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -4%;
}

@utility font-label-normal {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -4%;
}

@utility font-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: normal;
}

@utility focus-ring {
  &:focus-visible {
    @apply ring-ring ring-offset-system-background-alt ring-2 ring-offset-2 outline-hidden;
  }
}

@layer base {
  body {
    @apply text-text-main bg-system-background-alt;
  }

  button,
  a {
    @apply focus-visible:focus-ring;
  }
}
